__pycache__/
*.py[cod]
*.so
.DS_Store
venv/
.env
*.csv
!static/demo/*.csv
output/
PAR_files/
.python-version
.vscode/
*.egg-info/
dist/
build/
.mypy_cache/
.ruff_cache/
MCI_test/
settings.json
runs.json
TODO*